.App {
  text-align: center;
  min-height: 100vh;
  background: url('assets/food2.jpg');
    background-attachment: fixed;
    background-size: cover;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Title {
  color: rgba(2, 2, 2, 0.664);
  font-weight: 900;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-size: 30px;
  background-color: rgba(155, 152, 152, 0.15);
  backdrop-filter: blur(20px);


}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(136, 33, 33);
}
